.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page.login form {
    width: 500px;
}

.page.login form .form-control {
    margin-bottom: 15px;
}

.page.chat,
.page.login {
    background: #efe7dd url(https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg) repeat;
}

.page.chat .chat-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 15px;
    display: flex;
}

.page.chat .chat-form input {
    padding: .750rem .75rem;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
}

.page.chat .chat-form input:focus {
    box-shadow: none;
    outline: none;
}

.page.chat .chat-form button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 26px;
}

.page.chat .chat-form button i {
    margin-left: 3px;
}

.page.chat .chat-area {
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    top: 0;
    left: 0;
    overflow-y: scroll;
    padding: 20px;
}

.page.chat .chat-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page.chat .chat-area ul > li {
    margin-bottom: 15px;
}

.page.chat .chat-area ul > li div {
    display: inline-block;
    background: #fff;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding: 15px;
}

.page.chat .chat-area ul > li div small {
    display: block;
    text-align: left;
    color: #999;
}

.page.chat .chat-area ul > li.info div small {
    text-align: center;
}

.page.chat .chat-area ul > li.self {
    text-align: right;
}

.page.chat .chat-area ul > li.self div {
    background-color: #dcf8c6;
}

.page.chat .chat-area ul > li.self div small {
    text-align: right;
}

.page.chat .chat-area ul > li.info {
    text-align: center;
    font-size: 11px;
}

.page.chat .chat-area ul > li.info div {
    background-color: #e1f2fb;
    padding: 10px 15px;
}

.page.chat .chat-area ul > li.danger div {
    background-color: #ffecb3;
}